*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f7f9fc;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#007bff;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:#333;
}

.login-btn{
    background:#007bff;
    color:white;
    border:none;
    padding:10px 25px;
    border-radius:25px;
    cursor:pointer;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    min-height:90vh;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    color:#555;
    margin-bottom:25px;
}

.hero-text button{
    background:#007bff;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}

.hero-image{
    width:45%;
}

.hero-image img{
    width:100%;
}



.services{
    padding:80px 8%;
    text-align:center;
}

.services h2{
    font-size:40px;
    margin-bottom:50px;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    border-radius:15px;
}

.card h3{
    margin:15px 0;
}

.card p{
    font-size:20px;
    font-weight:600;
    color:#007bff;
}

.card button{
    margin-top:15px;
    padding:12px 25px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:25px;
    cursor:pointer;
}

.cart-section{
    padding:80px 8%;
    text-align:center;
}

#cart-items{
    margin:25px 0;
}

.cart-item{
    background:white;
    margin:10px auto;
    width:300px;
    padding:15px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}




.booking{
    padding:80px 8%;
    text-align:center;
    background:#eef5ff;
}

.booking h2{
    margin-bottom:30px;
    font-size:40px;
}

#bookingForm{
    max-width:500px;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

#bookingForm input{
    padding:15px;
    border:none;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

#bookingForm button{
    padding:15px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}

footer{
    background:#111;
    color:white;
    padding:50px 8%;
}

.footer-container{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.footer-container a{
    display:block;
    color:white;
    text-decoration:none;
    margin-top:10px;
}

.copyright{
    text-align:center;
    margin-top:30px;
}